.menu {
	background-color: $color-main;
	padding-bottom: 46px;
	@include mediaPhone{
		padding: 0;
	}
}
.menu__inner {
	position: relative;
}
.menu__list {
	display: grid;
	position: relative;
	height: 100vh;
	min-height: 900px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	overflow: hidden;
	
	@include mediaLaptop {
		display: none;
	}
}
.menu__item-text {
	position: absolute;
	font-family: 'Calligraph';
	font-size: 64px;
	font-weight: 5;
	line-height: 69px;
	color: $color-text;
	padding-bottom: 20px;
	transform-origin: left bottom;
	transform: rotate(90deg);
	top: -60px;
	max-height: 90px;
	width: 100%;
	span {
		color: $color-accent;
	}
}
.menu__main {
	background-image: url(../images/menu-main.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 900px;
	transition: 1.2s;
	&:hover{
		background-size: 1000px;		
	}
}
.menu__businessLunch {
	background-image: url(../images/business-lunch.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 650px;
	transition: 1.2s;
	&:hover{
		background-size: 750px;		
	}
	
}
.menu__theBarCard {
	background-image: url(../images/the-bar-card.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 650px;
	transition: 1.2s;
	&:hover{
		background-size: 750px;		
	}
}

.menu__cart-list {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	@include mediaLaptop {
		position: relative;
		visibility: visible;
		flex-direction: column;
		
	}
	@include mediaPhone{
		min-height: 0;
	}
}
.menu__cart-list--open {
	visibility: visible;
}

.menu__cart-item {
	opacity: 0;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	max-width: 1300px;
	padding: 14px 42px 65px 44px;
	visibility: hidden;
	transition: 0.5s;
	background-color: $color-main;
	overflow: visible;
	height: 763px;
	
	
	&.menu__cart-item--open {
		opacity: 1;
		visibility: visible;
		z-index: 10;
	}
	table {
		width: 100%;
		th,
		td {
			font-family: 'Wix Madefor Display', sans-serif;
			color: $color-text;
			font-size: 24px;
			line-height: 100%;
			padding-top: 30px;
			@include mediaLaptop {
				font-size: 18px;
				th.right-column {
					padding-right: 10px;
				}
			}
			@include mediaMiniLaptop {
				font-size: 14px;
			}		
			@media screen and (max-width:500px) {
				font-size: 10px;
			}
			@include mediaPhone{
				padding-top: 12px;
			}
		}
		td {
			padding-right: 35px;
			@include mediaMiniLaptop{
				padding-right: 25px;
			}
			@include mediaPhone{
				padding-right: 18px;
			}
		}
		.left-column {
			border-right: 2px solid #d9d9d9;
			@include mediaPhone{
				padding-right: 0;
			}
		}
		.right-column {
			th {
				padding-right: 10px;
			}
			padding-left: 230px;
			text-align: right;
			@media screen and (max-width: 1100px) {
				padding-left: 40px;
			}
			@include mediaPhone{
				padding-left: 22px;
			}
			
		}
	}

	@include mediaLaptop {
		opacity: 1;
		visibility: visible;
		z-index: 5;
		position: relative;
		padding-bottom: 30px;
		height: 100%;
	}
	@include mediaTablet {
		padding: 0px 20px 20px 20px;
	}
	@include mediaPhone{
		padding: 40px 20px 20px;
		margin: 0px;
	}
}
.cart__main {
	&::after {
		content: '';
		@include cart__before-bg;
		background-image: url(../images/menu-bg.png);
		background-repeat: no-repeat;
	}
}
.cart__businessLunch {
	&::after {
		content: '';
		@include cart__before-bg;
		background-image: url(../images/menu-bg-1.png);
		background-repeat: no-repeat;
	}
}
.cart__theBarCard {
	&::after {
		content: '';
		@include cart__before-bg;
		right: 0;
		background-image: url(../images/menu-bg-2.png);
		background-repeat: no-repeat;
	}
}

.cart__text-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	border-bottom: 2px solid $color-text;
	.cart__title {
		font-family: 'Calligraph';
		font-size: 96px;
		font-weight: 5;
		line-height: 104px;
		color: $color-text;
		display: flex;
		@include mediaLaptop {
			font-size: 70px;
			color: $color-accent;
		}
		@include mediaTablet {
			font-size: 40px;
			line-height: 40px;
		}
	}
	@include mediaTablet {
		margin-bottom: 15px;
	}
	span {
		font-family: 'Calligraph';
		font-size: 96px;
		font-weight: 5;
		line-height: 104px;
		color: $color-accent;
		@include mediaLaptop {
			font-size: 70px;
		}
		@include mediaTablet {
			font-size: 40px;
			line-height: 40px;
		}
	}
}
.card__cancel-btn {
	background-image: url(../images/cancel-btn.png);
	height: 68px;
	width: 68px;
	border: none;
	background-color: transparent;
	margin-bottom: 66px;
	@include mediaLaptop {
		display: none;
	}
}
