//Шрифты
$font-main:'Wix Madefor Display', sans-serif;
$font-secondary: 'Calligraph',sans-serif;


//Цвета

$color-main:#000000;
$color-accent:#FFAD4E;
$color-text:#FFFFFF;

//Размеры

$laptop-width:888px;
$mini-laptop-width:750px;
$tablet-width:580px;
$phone-width:460px;